@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --color-primary: #06ef00;
    --color-primary-variant: #18634a;

    --color-neutral-0: #ffffff;
    --color-neutral-20: #fafafa;
    --color-neutral-40: #fff4eb;
    --color-neutral-60: #616d6d;
    --color-neutral-80: #2e2d2c;
    --color-neutral-100: #000000;

    --spacing-navbar-3: 3px;
    --ease-sine-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: 'Roboto', 'Roboto Fallback';
    --font-mono: 'Roboto Mono', 'Roboto Mono Fallback';
}

@layer components {
    /* =========================
       HEADINGS
       ========================= */
    .heading-xxl {
        font-size: 32px;
        line-height:38px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 50px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 60px;
            line-height: 72px;
        }
    }

    .heading-xl {
        font-size: 32px;
        line-height: 48px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 40px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 50px;
            line-height: 60px;
        }
    }

    .heading-l {
        font-size: 24px;
        line-height: 36px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 32px;
            line-height: 38px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 38px;
            line-height: 45px;
        }
    }

    .heading-m {
        font-size: 21px;
        line-height: 32px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 28px;
            line-height: 34px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .heading-s {
        font-size: 18px;
        line-height: 27px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .heading-xs {
        font-size: 16px;
        line-height: 24px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 21px;
            line-height: 25px;
        }
    }

    .heading-xxs {
        font-size: 14px;
        line-height: 17px;
    }

    /* =========================
       BODY TEXT
       ========================= */
    .body-text {
        font-size: 18px;
        line-height: 27px;
        /*margin-bottom: 32px;*/
    }

    .body-caption {
        font-size: 16px;
        line-height: 24px;
        /*margin-bottom: 25px;*/
    }

    .body-button {
        font-size: 14px;
        line-height: 21px;
        /*margin-bottom: 25px;*/
    }

    .body-label {
        font-size: 16px;
        line-height: 24px;
        /*margin-bottom: 25px;*/
    }

    /* =========================
       MENU
       ========================= */
    .menu-heading {
        font-size: 21px;
        line-height: 32px;
        /*margin-bottom: 25px;*/
    }

    .menu-body {
        font-size: 14px;
        line-height: 21px;
        /*margin-bottom: 25px;*/
    }
}

:root {
    --background: #1c1e1c;
    --foreground: #ededed;
}

body {
    background: var(--background);
    color: var(--foreground);
}
