@import "tailwindcss";
@import 'tw-animate-css';

@theme {
    --color-primary: #18634a;
    --color-primary-foreground: #ffffff;
    --color-primary-variant: #18634a;
    --color-secondary: #ffffff;
    --color-secondary-foreground: #18634a;

    --color-neutral-90: #212321;

    --color-neutral-0: #ffffff;
    --color-neutral-20: #fafafa;
    --color-neutral-40: #fff4eb;
    --color-neutral-60: #616d6d;
    --color-neutral-80: #2e2d2c;
    --color-neutral-100: #000000;

    --spacing-navbar-3: 3px;
    --ease-sine-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);

    --ease-slow: cubic-bezier(0.25, 0.1, 0.75, 0.9);

    --width-wide: 95%;
    --spacing-wide: 2.5%;
    --spacing-main: 10%;
    --spacing-central: 18%;

    --breakpoint-xxs: 20.1rem;
    --breakpoint-xs: 25rem;
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: 'Roboto', 'Roboto Fallback';
    --font-mono: 'Roboto Mono', 'Roboto Mono Fallback';

    --container-7xl: 1920px;
}

@layer components {
    /* =========================
       HEADINGS
       ========================= */
    .heading-xxl {
        font-size: 32px;
        line-height: 38px;
        /* Tablet */
        @media (min-width: 768px) {
            font-size: 40px;
            line-height: 50px;
        }
        /* Desktop */
        @media (min-width: 1440px) {
            font-size: 60px;
            line-height: 72px;
        }
    }

    .heading-xl {
        font-size: 24px;
        line-height: 29px;
        /* Tablet */
        @media (min-width: 768px) {
            font-size: 40px;
            line-height: 42px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 50px;
            line-height: 60px;
        }
    }

    .heading-l {
        font-size: 24px;
        line-height: 36px;
        /* Tablet */
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 32px;
            line-height: 38px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 38px;
            line-height: 45px;
        }
    }

    .heading-m {
        font-size: 21px;
        line-height: 32px;
        /* Tablet */
        @media (min-width: 768px) {
            font-size: 28px;
            line-height: 34px;
        }
        /* Desktop */
        @media (min-width: 1024px) {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .heading-s {
        font-size: 18px;
        line-height: 27px;
        /* Tablet */
        @media (min-width: 768px) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .heading-xs {
        font-size: 16px;
        line-height: 24px;
        /* Tablet */
        @media (min-width: 768px) {
            font-size: 21px;
            line-height: 25px;
        }
    }

    .heading-xxs {
        font-size: 14px;
        line-height: 17px;
    }

    /* =========================
       BODY TEXT
       ========================= */
    .body-text {
        font-size: 18px;
        line-height: 24px;

        @media (min-width: 1024px) {
            font-size: 18px;
            line-height: 27px;
        }
    }

    .body-caption {
        font-size: 16px;
        line-height: 24px;
        /*margin-bottom: 25px;*/
    }

    .body-button {
        font-size: 14px;
        line-height: 21px;
        /*margin-bottom: 25px;*/
    }

    .body-label {
        font-size: 16px;
        line-height: 24px;
        /*margin-bottom: 25px;*/
    }

    /* =========================
       MENU
       ========================= */
    .menu-heading {
        font-size: 21px;
        line-height: 32px;
        /*margin-bottom: 25px;*/
    }

    .menu-body {
        font-size: 14px;
        line-height: 21px;
        /*margin-bottom: 25px;*/
    }
}

:root {
    --background: #ffffff;
    --foreground: #ededed;
}

body {
    background: var(--background);
    color: var(--foreground);
}
