@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --color-primary: #06ef00;
    --color-primary-variant: #18634a;

    --color-neutral-0: #ffffff;
    --color-neutral-20: #fafafa;
    --color-neutral-40: #fff4eb;
    --color-neutral-60: #616d6d;
    --color-neutral-80: #2e2d2c;
    --color-neutral-100: #000000;

    --spacing-navbar-3: 3px;
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: 'Roboto', 'Roboto Fallback';
    --font-mono: 'Roboto Mono', 'Roboto Mono Fallback';
}

@layer components {
    /* =========================
       HEADINGS
       ========================= */
    .heading-xxl {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 50px;
    }

    .heading-xl {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 50px;
    }

    .heading-l {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 35px;
    }

    .heading-m {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 32px;
    }

    .heading-s {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 32px;
    }

    .heading-xs {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 35px;
    }

    .heading-xxs {
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 35px;
    }

    /* =========================
       BODY TEXT
       ========================= */
    .body-text {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 32px;
    }

    .body-caption {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .body-button {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 25px;
    }

    .body-label {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    /* =========================
       MENU
       ========================= */
    .menu-heading {
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .menu-body {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 25px;
    }
}



@media (prefers-color-scheme: dark) {
    :root {
        --background: #1c1e1c;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
