@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #06EF00;
  --color-primary-variant: #18634A;

  --color-neutral-0: #FFFFFF;
  --color-neutral-20: #FAFAFA;
  --color-neutral-40: #FFF4EB;
  --color-neutral-60: #616D6D;
  --color-neutral-80: #2E2D2C;
  --color-neutral-100: #000000;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1E1C;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
